# ***STOCK MARKET FORECASTING***

---

In [ ]:
import math
import matplotlib.pyplot as plt
import keras
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import *
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [ ]:
df_exe=pd.read_excel("US30_tiny.xlsx")
print(df_exe.shape)
df_exe.head(5)

(10004, 6)

                          Date/Time       Open  ...        Low  Volume
0  06.10.2019 07:20:00.000 GMT+0100  26557.169  ...  26557.169     0.0
1  06.10.2019 07:25:00.000 GMT+0100  26557.169  ...  26557.169     0.0
2  06.10.2019 07:30:00.000 GMT+0100  26557.169  ...  26557.169     0.0
3  06.10.2019 07:35:00.000 GMT+0100  26557.169  ...  26557.169     0.0
4  06.10.2019 07:40:00.000 GMT+0100  26557.169  ...  26557.169     0.0

[5 rows x 6 columns]

In [ ]:
training_set = df_exe.iloc[1:8000]
test_set = df_exe.iloc[8001:]
A1=np.array(training_set['Open'])

In [ ]:
"""#Visualize the closing price history
plt.figure(figsize=(16,8))
pp=pd.read_excel('US30_tiny.xlsx', header=0, index_col=0, squeeze=True)
plt.title('Close Price History')
plt.xlabel('',fontsize=18)
plt.ylabel('Close Price USD ($)',fontsize=18)
plt.plot(pp)"""